*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

*::before, *::after{
    box-sizing: border-box;
}

:root{
    --primary-100: white;
    --primary-200: #dda15e;
    --primary-300: #bc6c25;
    --primary-400: #606c38;
    --primary-500: #283618;
}

body{
    font-family: 'Poppins', sans-serif; 
    color: var(--primary-100);
    background-color: var(--primary-300);
}

h2{
    text-shadow: 1px 1px 10px #283618;
}

/* Start Navigation */
nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: transform 0.3s ease-in-out; 
}

.nav-hidden {
    transform: translateY(-100%); 
}

header a {
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
}

header a .pai {
    color: var(--primary-100); 
}

header a .forlio {
    color: var(--primary-200); 
}

.nav-list {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 70%;
    list-style-type: none;
}

.nav-list-hidden {
    transform: translateY(-100%); 
}

nav ul li{
    color: white;
    border-radius: 10%;
    font-size: 20px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;
}

nav ul li a{
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: var(--primary-200); 
    transition: color 0.3s ease; 
}

#menu-icon {
    display: none; 
    width: 30px;
    height: 30px;
    cursor: pointer;
}
/* End Navigation */ 

/* Start Home */
#home {
    margin-top: 70px;
    width: 100%;
    padding: 30px 0; 
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#home h1 {
    font-size: 3rem; 
    font-family: 'Poppins', sans-serif; 
    font-weight: 400; 
    letter-spacing: 2px;
    color: var(--primary-100);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); 
}

#home i{
    font-size: 1.5rem;
    color: var(--primary-200);
    margin-top: 16px;
}

#home a {
    text-decoration: none;
    color: var(--primary-100);
    background-color: var(--primary-200);
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 30px; 
    transition: background-color 0.3s ease;
}

#home a:hover {
    box-shadow: 5px 5px 10px rgb(55, 55, 55);
}
/* End home */

/* Start Profile  */
#profile{
    width: 100%;
    height: 300px;
    padding: 30px 0; 
    line-height: 2rem;
    text-align: left;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#profile h2{
    font-size: 1.7rem;
    margin-bottom: 20px;

}
#profile .about{
    width: 70%;
    height: 200px;

    display: flex;
    justify-content: space-around;
    align-items: center;

}
#profile .about .aboutimg{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #dda15e;


}
#profile .about .aboutcontent{
    width: 500px;
    height: 150px;
}

#profile .about .aboutimg img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
/* End Profile */

/* Start skills */
#skill {
    width: 100%;
    padding: 50px 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#skill h2 {
    font-size: 1.7rem;
    color: var(--primary-100);
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#skill .container {
    width: 80%; 
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

#skill .container div {
    width: 250px;
    background-color: var(--primary-200);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    color: var(--primary-100);
}

#skill .container div h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: var(--primary-300);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

#skill .container div ul {
    list-style-type: none;
    padding: 0;
}

#skill .container div ul li {
    font-size: 1rem;
    line-height: 1.8rem;
}
/* End skills */

/* Start contacts */
#contact {
    padding: 30px 0; 
    display: flex;
    justify-content: space-evenly;
}
#contact .contact span {
    font-size: 1.8rem;
}
#contact .contact .tactme{
    color: var(--primary-200); 
}

#contact .contact p {
    font-size: 1rem;
    margin: 10px 0 10px 0;
}

#contact .contact div {
    margin-top: 10px; 
}

#contact .contact a {
    color: var(--primary-200);
    text-decoration: none;
    font-size: 1rem;
}

#contact .contact a:hover {
    color: var(--primary-100);
    text-decoration: underline;
}

.social-links a i {
    color: var(--primary-200);
    font-size: 1.5rem;
    margin: 10px 10px;
}

#contact .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--primary-100);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

#contact .form input,
#contact .form textarea {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}

#contact .form button {
    padding: 10px 20px;
    background-color: var(--primary-200);
    color: var(--primary-100);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;

    margin-left: auto;
    display: block;
}

#contact .form button:hover {
    background-color: var(--primary-400);
}
/* End contacts */

/* Start Footer */
footer{
    width: 100%;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* End Footer */

@media (max-width: 768px) {
    .nav-list {
        display: none; 
        flex-direction: column;
        position: absolute;
        top: 80px; 
        left: 0;
        width: 100%;
        background-color: var(--primary-300); 
        text-align: center;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    }

    .nav-list li {
        padding: 10px;
        
    }

    #menu-icon {
        display: block; 
    }

    #home{
        height: 200px;
    }

    #home h1{
        font-size: 2rem;
    }
    
    #profile {
        height: 300px; 
        flex-wrap: wrap;
    }

    #profile .about {
        flex-direction: column; 
        margin-top: 20px;
    }

    #profile .about .aboutimg{
        margin-bottom: 20px;
    }

    #profile .about .aboutcontent {
        width: 100%;
        padding: 20px;
    }

    #profile .about .aboutcontent p {
        font-size: 0.9rem; 
    }
       
    #skill {
        margin-top: 130px;
    }
    #skill .container{
        flex-wrap: wrap;
    }
    
    #contact {
        align-items: center;
        flex-direction: column;
    }
    #contact .contact{
        width: 80%;
        padding-bottom: 30px;
    }
}
@media (max-width: 426px){
    #profile{
        height: 350px; 
        
    }
    #profile .about .aboutcontent p {
        text-align: justify;
        font-size: 0.8rem; 
        line-height: 1.8rem;
    }
    #contact .form{
        width: 80%;
    }
}
@media (max-width: 426px){
    #profile .about .aboutcontent p{
        line-height: 1.5rem;
    }
}